
body{

  background-image:url('../img/one.jpg');
font-family:sans-serif;
color: white;


}
#navbar{
  background-blend-mode: darken;
  font-family: cursive;
  background-color: coral;
  color:#fff;
}
  #navbar a{
    color: white;
    text-decoration: none;
  font-size: 18px;
  padding-right: 20px;

}
.container{
  font-family: cursive;
  font-size: 25px;
  line-height: 1.6em;
  width: 80%;
  margin:auto;
  overflow: hidden;
}
.container p{
  font-family: cursive;
}

.container a{
  text-decoration: none;
}
#navbar ul{
padding: 0;
list-style: none;
}
#navbar li{
  display: inline;
}
#navbar a{
  color: white;
  text-decoration: none;
font-size: 18px;
font-weight: bold;
padding-right: 20px;
}
#navbar a:hover{
  color: green;
}
#navbar a:visited{
  color: ;
}
.container{
  background: none;
  font-size: 25px;
  line-height: 1.6em;
  width: 80%;
  margin:auto;
  overflow: hidden;
}

.p-box{
  width: 1500px;
  height:300px;
  border:1px solid #000;
  margin-top:30px;
  margin-right: 0px;
  align-self: center;
  position: absolute;right: 0px;
  background-color: lightgrey;
  color: black;
   border: 0px;
}
.p-box img{
  margin-top: 20px;
  position:absolute;right:600px;
}
.p-box h1{
  text-align: center;
  font-family: cursive;
  margin-right: 0px;
  position: relative;left:80px;
  margin-top: 150px;
}
.p-box p{
  text-align: center;
  position: absolute;right: 400px;
  font-family: cursive;

}
  .child{
    font-family: cursive;
    margin-top:355px;
    position: absolute;
text-align: center;
}
.mom{
  margin-top:455px;
  font-family: cursive;
  position: absolute;right: 0px;
text-align: center;
  }

.child h1{
font-family: cursive;
}
.child p{
  font-family: cursive;
}
#footer{
  height: 200px;
  background: orange;
  color: black;
  font-family: cursive;
  text-align: center;
  padding-bottom:200px;
  padding: 20px;
  margin-top: 40px;
}
.ada input[type="button"]{
background-color:black;
border-color:#333;
color: white;
}
